@model BodyModel
@{
    ViewData["Title"] = $"Delete {this.Model.BodyName}";
}

<div class="centerDiv">
    <h1>Deleting @this.Model.BodyName</h1>
    <form method="post">
        @{
            switch (this.Model.Type)
            {
                case 0: <img src="https://freepngimg.com/thumb/space/24439-3-space-planet-free-download.png"
                             style="max-width: 30%;filter:hue-rotate(@(this.Model.Color)deg);" />
                    break;
                case 1: <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3373176e-a294-4ce2-b180-d652cd8c9c03/d4x69ef-6411312f-35ee-4ddf-af71-ea93bdd2e0d5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzM3MzE3NmUtYTI5NC00Y2UyLWIxODAtZDY1MmNkOGM5YzAzXC9kNHg2OWVmLTY0MTEzMTJmLTM1ZWUtNGRkZi1hZjcxLWVhOTNiZGQyZTBkNS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.2POGoNVt6GPa4iQCS0TPjaJksO-N4TdXgjHsxeB22VI"
                             style="max-width: 30%;filter:hue-rotate(@(this.Model.Color)deg);" />
                    break;
                case 2: <img src="https://www.texturesforplanets.com/images/rendered/Martian400.png"
                             style="max-width: 30%;filter:hue-rotate(@(this.Model.Color)deg);" />
                    break;
                case 3: <img src="https://www.freeiconspng.com/thumbs/sun/picture-of-real-sun-the-color-of-fire-red-21.png"
                             style="max-width: 30%;filter:hue-rotate(@(this.Model.Color)deg);" />
                    break;
            }
        }
        <h2>Are you sure you want to purge the existence of @this.Model.BodyName into the abyss of nothingness?</h2>

        <input type="submit" value="Yeah sure">
    </form>
</div>